.heading {
  &--huge {
    font-weight: var(--fw-extrabold);
    font-size: var(--fs-huge);
    line-height: 1.2;
  }

  &--extra {
    font-size: var(--fs-extra);
    font-weight: var(--fw-extrabold);
    line-height: 1.3;
  }

  &--large {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    line-height: 1.3;
  }

  &--medium {
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    line-height: 1.3;
  }

  &--black {
    color: var(--black);
  }

  &--white {
    color: var(--white-100);
  }

  &--center {
    text-align: center;
  }

  & > strong {
    color: var(--primary);
  }
}
