.tag {
  display: block;
  width: fit-content;
  padding: var(--sp-small) var(--sp-regular);
  border: 0.1rem solid var(--gray);
  border-radius: var(--rd-medium);

  &--white {
    color: var(--white-100);
  }

  &--center {
    margin: 0 auto;
  }

  &:is(a) {
    transition: background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      color 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      background-color: var(--white-100);
      color: var(--black);
    }
  }
}
