@font-face {
  font-family: "icomoon";
  src: url("../../assets/icomoon.eot?ojfopv");
  src: url("../../assets/icomoon.eot?ojfopv#iefix") format("embedded-opentype"),
    url("../../assets/icomoon.ttf?ojfopv") format("truetype"),
    url("../../assets/icomoon.woff?ojfopv") format("woff"),
    url("../../assets/icomoon.svg?ojfopv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-custom:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-vue:before {
  content: "\e903";
}
.icon-shopify:before {
  content: "\e904";
}
.icon-wp:before {
  content: "\e905";
}
.icon-react:before {
  content: "\e906";
}
.icon-php:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e908";
}
.icon-angular:before {
  content: "\e909";
}
.icon-html:before {
  content: "\e90a";
}
.icon-js:before {
  content: "\e90b";
}
.icon-node:before {
  content: "\e90c";
}
.icon-figma:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-estimate:before {
  content: "\e910";
}
.icon-cart:before {
  content: "\e911";
}
.icon-rocket:before {
  content: "\e912";
}
.icon-code:before {
  content: "\e913";
}
.icon-shipping:before {
  content: "\e914";
}
.icon-bag:before {
  content: "\e915";
}
.icon-cross:before {
  content: "\e916";
}
.icon-chevron:before {
  content: "\e917";
}
.icon-link:before {
  content: "\e918";
}
.icon-upload:before {
  content: "\e919";
}
.icon-git:before {
  content: "\e91a";
}
