.links {
  position: fixed;
  bottom: var(--sp-medium);
  z-index: 100;

  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--sp-regular);

  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sp-regular);
    padding: var(--sp-regular);
    border: 0.1rem solid var(--gray);
    border-radius: var(--rd-large);
    backdrop-filter: blur(0.4rem);
    background: var(--white-50);

    margin-left: 6rem;
  }

  &__linkedin {
    display: grid;
    place-items: center;
    height: 6.1rem;
    aspect-ratio: 1;

    border: 0.1rem solid var(--gray);
    border-radius: var(--rd-full);
    backdrop-filter: blur(0.4rem);
    background: var(--white-50);

    color: var(--primary);

    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0rem;
      z-index: -1;
      transform: scale(0);
      opacity: 0;

      border-radius: var(--rd-full);
      background-color: var(--primary);
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    & > span {
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      &:last-child {
        position: absolute;
        opacity: 0;
        transform: translateX(-2rem);
        color: var(--white-100);
      }
    }

    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }

      & > span {
        &:first-child {
          opacity: 0;
          transform: translateX(2rem);
        }

        &:last-child {
          opacity: 1;
          transform: translateX(0rem);
        }
      }
    }
  }

  &[aria-hidden="true"] {
    transform: translateX(-50%) translateY(150%);
  }
}
