.nav {
  position: sticky;
  top: var(--sp-medium);
  z-index: 100;

  padding: 0 var(--wr-nav);
  width: 100%;

  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--sp-regular) var(--sp-regular) var(--sp-regular) var(--sp-base);

    backdrop-filter: blur(0.4rem);
    background: var(--white-50);
    border: 0.1rem solid var(--gray);
    border-radius: var(--rd-large);
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sp-base);
    margin: 0 var(--sp-base) 0 auto;
  }

  &__item {
    & > a {
      color: var(--black);
    }
  }

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--black);
    font-weight: var(--fw-extrabold);

    & > em {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--sp-base);
      margin-left: var(--sp-base);
      font-weight: var(--fw-light);

      &::before {
        content: '|';
      }
    }
  }

  &[aria-hidden='true'] {
    transform: translateY(-150%);
  }
}
