.card-offer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--gray);
  border-radius: var(--rd-tiny);

  &__header {
    padding: var(--sp-medium);
    border-bottom: 0.1rem solid var(--gray);

    & > p {
      margin-top: var(--sp-regular);
    }
  }

  &__icon {
    display: grid;
    place-items: center;
    height: 5rem;
    aspect-ratio: 1;

    border-radius: var(--rd-full);
    color: var(--white-100);
    background-color: var(--primary);
    margin-bottom: var(--sp-medium);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-base);
    flex: 1;
    padding: var(--sp-medium);
  }

  &__price {
    & > em {
      font-size: var(--fs-small);
    }

    & > strong {
      display: block;
      font-size: var(--fs-large);
      font-weight: var(--fw-extrabold);
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: var(--sp-tiny);

    &::before {
      content: "Inclus";
      font-weight: var(--fw-bold);
    }

    & > li {
      font-size: var(--fs-small);
    }
  }

  &__cta {
    margin-top: auto;

    display: block;
    width: 100%;
    text-align: center;
    padding: var(--sp-regular);
    color: var(--white-100);
    background-color: var(--primary);
    border: 0.15rem solid var(--primary);
    border-radius: var(--rd-medium);

    position: relative;
    z-index: 0;

    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      color: var(--primary);
      background-color: var(--white-100);
    }
  }
}
